<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin? && !@article.id.nil? %>
   <h3>Merge Articles</h3>
   <% error_messages_for 'article' %>
   <%= form_tag :action=>"merge", :id => @article.id do %>
    <label for="merge_with"> <%= _("Article ID")%></label>
    <%= text_field :merge_with, :merge_id %>
    <%= submit_tag("Merge") %>
  <% end %>
<% end %>
